/* Custom properties */
:root {
    --tooltip-text-color:black;
    --tooltip-background-color: white;
   
    --tooltip-arrow-size: 6px;   
  }
  
  .nothing:empty {
    display: none;
  }
 
  .Image {
      max-width: 100%;
      max-height: 100%;
    
      position:relative;
      padding: 0px;
      border: solid 1px black;
      border-radius: 4px;
     
     
  }
  
  
  /* Wrapping */
  .Input-Wrap {
    display: flex;
    flex-direction: row;
    position: relative; 
  }
  
  /* Absolute positioning */
  .Tooltip-image {
   
    position: absolute;
    border-radius: 4px;
    top: 10%;
    left: 150%;
    transform: translateX(-50%);
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    z-index: 110;
    min-width: 200px;
    max-width: 250px;
    min-height: 200px;
    max-height: 250px;
    
   
  }
 
  /* CSS border triangles */
  .Tooltip-Tip::before {
    content: "";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.top {
    top: calc(var(--tooltip-margin) * -1);
  }
  /* CSS border triangles */
  .Tooltip-Tip.top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
    
    
  }
  /* CSS border triangles */
  .Tooltip-Tip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.bottom {
    bottom: calc(var(--tooltip-margin) * -1);
  }
  /* CSS border triangles */
  .Tooltip-Tip.bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
  }
  
  /* Absolute positioning */
  .Tooltip-Tip.left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }
  /* CSS border triangles */
  .Tooltip-Tip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background-color);
  }
  